@media screen and (prefers-color-scheme: dark) {

   :root {

      --background-color_1: #0f0e1d;
      --background-color_2: #000000;
      --border-color_main: #610099;
      --background-linear_baixar: #a200ff, #4c0079, #a200ff;
      --background-color_image: #240238;
      --font-color_1: #a200ff;
      --font-color_2: #ffffff;

   }
   
   body {
      background: url('../img/background-HWebsite_dark.webp') no-repeat fixed;
      background-size: cover;

   }

   .page {
      background-color: #00000065;
      animation: box-blur 10s linear infinite;
     

   }

   main {
      border: solid var(--border-color_main) 3px;
      background-color: var(--background-color_1);

   }

   .baixar {
      background: linear-gradient(to top right, var(--background-linear_baixar));
      box-shadow: 0 0 10px #800080;
      color: #ffffff;

   }

   .baixar:hover {
      background: linear-gradient(to top right, #800080, #3a003a, #800080);
      box-shadow: 0 0 0.8rem #970097;

   }

   .image {
      background-color: var(--background-color_image);
      border: solid var(--border-color_main) 1px;
      box-shadow: 0 0 7px var(--border-color_main);

   }

   .nome {
      color: var(--font-color_1);
      text-shadow: 0 0 1rem var(--font-color_1);

   }

   .idade {
      color: var(--font-color_1);
      text-shadow: 0 0 1rem var(--font-color_1);

   }

   .cargo {
      color: var(--font-color_2);

   }

   .frase {
      animation: color-blur 21s linear infinite;

   }

   .nav {
      background-color: var(--background-color_1);

   }

   .sobre {
      background-color: var(--background-color_1);

   }

   .sociais {
      background-color: var(--background-color_1);

   }

   .active {
      background-color: var(--background-color_2);

   }

   .mini-body {
      background-color: var(--background-color_2);

   }

   .title {
      color: rgb(0, 255, 0);

   }

   .bordao {
      color: #ffffff;

   }

   .texto {
      color: #00ffff;
      text-shadow: 0 0 0.46rem #00bbbb;

   }

   .destaque {
      color: #ff00ff;

   }

   .redes-sociais a {
      color: #00ffff;
      text-shadow: 0 0 0.45rem #00bbbb;

   }

   .redes-sociais a:hover {
      color: #ffffff;
      text-shadow: 0 0 0.45rem #ffffff;

   }


   .redes-sociais a:active {
      color: #a200ff;
      text-shadow: 0 0 0.45rem #a200ff;

   }

   ::-webkit-scrollbar {
      background-color: #4b015e;

   }

   ::-webkit-scrollbar-thumb {
      background-color: #ff00b3;

   }

   @keyframes color-blur {

      0% {
         color: #ce15ce;
         text-shadow: 0 0 0.9rem #a304ff;
      }

      50% {
         color: #00ffff;
         text-shadow: 0 0 0.9rem #00bbbb;
      }

      75% {
         color: #ffffff;
         text-shadow: 0 0 0.9rem #ffffff;
      }

      100% {
         color: #ce15ce;
         text-shadow: 0 0 0.9rem #a304ff;
      }

   }

   @keyframes box-blur {

      0% {
         box-shadow: -3px 3px 2.72rem #800080;
      }

      25% {
         box-shadow: -3px 3px 2.72rem #ff00b3;

      }

      50% {
         box-shadow: -3px 3px 2.72rem #8400ff;
      }

      100% {
         box-shadow: -3px 3px 2.72rem #800080;
      }

   }
}