@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;

}

html {
   font-size: 11px;

}

body {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100vh;
   max-width: 100%;
   background: url(../img/background-HWebsite.png) no-repeat fixed;
   background-size: cover;

}

.page {
   display: flex;
   justify-content: center;
   align-items: center;
   overflow: hidden;
   width: 100%;
   height: 88vh;
   max-height: 588px;
   max-width: 100%;
   background-color: #00000067;
   border-radius: 20% 0 20% 0;
   box-shadow: -3px 3px 50px purple;
   animation: box-blur 20s linear infinite;

}

main {
   position: relative;
   display: flex;
   flex-wrap: wrap;
   overflow: hidden;
   width: 38%;
   height: 93%;
   max-height: 547px;
   max-width: 498px;
   border-radius: 4%;
   border: solid #610099 3px;

}

.baixar {
   display: flex;
   margin: 1.5% 0;
   cursor: pointer;
   width: 22%;
   height: 30%;
   border-radius: 10px;
   background: linear-gradient(to top right, #a200ff, #4c0079, #a200ff);
   box-shadow: 0 0 15px purple;
   font-size: 1.3rem;
   text-decoration: none;
   font-family: 'Quicksand', sans-serif;
   color: white;
   align-items: center;
   justify-content: center;
   text-shadow: 0 0 1rem #000000;

}

.baixar:hover {
   background: linear-gradient(to top right, #800080, #3a003a, #800080);
   box-shadow: 0 0 1.36rem #970097;


}

.mini-head {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 100%;
   height: 40%;
   background-color: #0f0e1d;

}

.image {
   display: flex;
   justify-content: center;
   width: 18%;
   height: 37%;
   background-color: #240238;
   border-radius: 7%;
   border: solid #a200ff 1px;
   box-shadow: 0 0 10px #a200ff;

}

.image img {
   max-width: 100%;
   max-height: 100%;

}

.mini-head strong {
   display: flex;
   flex-direction: column;
   padding: 0 4%;

}

.mini-head strong p {
   font-weight: bolder;
   text-align: center;

}

.nome {
   font-size: 2.5rem;
   color: #a200ff;
   text-shadow: 0 0 1.5rem #7600bb;
   font-family: 'Quicksand', sans-serif;

}

.idade {
   font-size: 1.35rem;
   color: #a200ff;
   text-shadow: 0 0 1rem #7600bb;
   font-family: 'Quicksand', sans-serif;

}

.cargo {
   font-size: 1.25rem;
   color: #ffffff;
   text-shadow: 0 0 1rem #8b00db;
   font-family: 'Quicksand', sans-serif;
   margin-bottom: 2%;

}

.frase {
   font-size: 1rem;
   color: #ce15ce;
   text-shadow: 0 0 1.36rem #a304ff;
   font-family: 'Silkscreen', sans-serif;
   animation: color-blur 20s linear infinite;

}

.nav {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   width: 100%;
   height: 8%;
   background-color: #0f0e1d;

}

.button {
   outline: none;
   cursor: pointer;
   border-width: 0;
   width: 50%;
   height: 100%;

}

.button img {
   width: 12%;

}

.sobre {
   background-color: #0f0e1d;

}

.sociais {
   background-color: #0f0e1d;

}

.active {

   background-color: black;

}

.mini-body {
   width: 100%;
   height: 52%;
   background-color: black;

}

.section {
   display: flex;
   width: 100%;
   height: 100%;
   overflow: hidden;
}

.started {
   display: flex;
   flex-direction: column;
   text-align: center;
   align-items: center;
   font-family: 'Quicksand', sans-serif;
   padding: 20% 2%;

}

.started p {
   padding: 3% 0;

}

.welcome {
   font-size: 2rem;
   color: #00ffff;
   text-shadow: 0 0 0.5rem #00bbbb;

}

.sub-title {
   font-size: 1rem;
   color: #00ffff;
   text-shadow: 0 0 0.5rem #00bbbb;

}

.section-1 {
   display: none;
   flex-direction: column;
   align-items: center;

}

.section-2 {
   display: none;
   flex-direction: column;
}

.title {
   font-size: 1.41rem;
   font-family: 'Silkscreen', sans-serif;
   text-align: center;
   padding: 3% 0;
   color: #00ff00;
}

.conteudo {
   overflow-y: scroll;
   overflow-x: hidden;
   width: 100%;
   padding: 3%;

}

.bordao {
   color: white;
   font-size: 1.17rem;
   font-family: 'Silkscreen', sans-serif;
   text-align: center;

}

.texto {
   text-align: justify;
   color: #00ffff;
   text-shadow: 0 0 0.46rem #00bbbb;
   font-size: 1.08rem;
   line-height: 1.5rem;
   font-family: 'Silkscreen', sans-serif;
   overflow-wrap: break-word;
   letter-spacing: 0.1rem;

}

.destaque {
   color: #eb0aeb;
   text-shadow: 0 0 1.35rem #a304ff;

}

.redes-sociais {
   font-size: 1.5rem;
   text-align: center;
   -webkit-margin-before: 1.08rem;
   -webkit-margin-after: 1.08rem;

}

.redes-sociais a {
   color: #00ffff;
   text-shadow: 0 0 0.45rem #00bbbb;
   text-decoration: none;
}

.redes-sociais a:hover {
   color: #ffffff;
   text-shadow: 0 0 0.45rem #ffffff;
}


.redes-sociais a:active {
   transition: none;
   color: #a200ff;
   text-shadow: 0 0 0.45rem #a200ff;
}

::-webkit-scrollbar {
   width: 5px;
   border-radius: 5px;
   background-color: #4b015e;

}

::-webkit-scrollbar-thumb {
   border-radius: 5px;
   background-color: #ff00b3;
}

@keyframes color-blur {

   0% {
      color: #ce15ce;
      text-shadow: 0 0 1.36rem #a304ff;
   }

   25% {
      color: #00ffff;
      text-shadow: 0 0 1.36rem #00bbbb;
   }

   50% {
      color: #00ff00;
      text-shadow: 0 0 1.36rem #00ff00;
   }

   75% {
      color: #ffffff;
      text-shadow: 0 0 1.36rem #ffffff;
   }

   100% {
      color: #ce15ce;
      text-shadow: 0 0 1.36rem #a304ff;
   }

}

@keyframes box-blur {

   0% {
      box-shadow: -3px 3px 2.72rem #800080;
   }

   25% {
      box-shadow: -3px 3px 2.72rem #ff00b3;
   }

   50% {
      box-shadow: -3px 3px 2.72rem #a200ff;
   }

   75% {
      box-shadow: -3px 3px 2.72rem #00ffff;
   }

   100% {
      box-shadow: -3px 3px 2.72rem #800080;
   }

}


@media (max-width: 1024px) {

   html {
      font-size: 65%;

   }

   .image {
      width: 22%;

   }

   main {
      width: 50%;

   }


}

@media (max-width: 768px) {

   html {
      font-size: 70%;

   }

   .page {
      height: 83vh;

   }

   main {
      width: 63%;

   }


}

@media (max-width: 425px) {

   html {
      font-size: 60%;

   }

   .image {

      width: 25%;

   }

   main {
      width: 87%;
      height: 87%;

   }


}

@media (max-width: 375px) {

   html {
      font-size: 50%;

   }

   main {
      width: 87%;
      height: 80%;

   }


}