@media (min-width: 320px) and (max-width: 470px) {

   .page {
      border-radius: 25% 0 25% 0;

   }

   main {
      width: 60%;

   }

   .image {
      width: 25%;

   }

   .nome {
      font-size: 11px;

   }

   .idade {
      font-size: 7px;

   }

   .cargo {
      font-size: 6px;

   }

   .frase {
      font-size: 6px;

   }

   .title {
      font-size: 8px;

   }

   .bordao {
      font-size: 6px;

   }

   .texto {
      font-size: 5px;

   }

   .baixar {
      font-size: 6px;

   }

}

@media (min-width: 470px) and (max-width: 700px) {

   .page {
      border-radius: 25% 0 25% 0;

   }

   main {
      width: 50%;

   }

   .image {
      width: 20%;

   }

   .nome {
      font-size: 13px;

   }

   .idade {
      font-size: 9px;

   }

   .cargo {
      font-size: 8px;

   }

   .frase {
      font-size: 7px;

   }

   .title {
      font-size: 9px;

   }

   .bordao {
      font-size: 8px;

   }

   .texto {
      font-size: 7px;

   }

   .baixar {
      font-size: 8px;

   }

}

@media (min-width: 700px) and (max-width: 900px) {

   .page {
      border-radius: 25% 0 25% 0;

   }

   main {
      width: 40%;

   }

   .image {
      width: 20%;

   }

   .nome {
      font-size: 13px;

   }

   .idade {
      font-size: 9px;

   }

   .cargo {
      font-size: 8px;

   }

   .frase {
      font-size: 7px;

   }

   .title {
      font-size: 9px;

   }

   .bordao {
      font-size: 8px;

   }

   .texto {
      font-size: 7px;

   }

   .baixar {
      font-size: 8px;

   }

}

@media (min-width: 900px) and (max-width: 1100px) {

   .page {
      border-radius: 25% 0 25% 0;

   }

   main {
      width: 40%;

   }

   .image {
      width: 20%;

   }

   .nome {
      font-size: 16px;

   }

   .idade {
      font-size: 12px;

   }

   .cargo {
      font-size: 11px;

   }

   .frase {
      font-size: 9px;

   }

   .title {
      font-size: 10px;

   }

   .bordao {
      font-size: 9px;

   }

   .texto {
      font-size: 9px;

   }

   .baixar {
      font-size: 10px;

   }

}